<mat-progress-spinner
  *ngIf="showSpinner === true"
  style="margin: 20px auto;"
  [color]="spinnerColor"
  [mode]="spinnerMode"
  [value]=spinnerValue>
</mat-progress-spinner>

<nav mat-tab-nav-bar>
  <a mat-tab-link *ngFor="let table of nodeResults['data']" 
      (click)="onSelect(table)"
      [active]="activeTableName == table"> {{table['name']}} </a>
</nav>
  
<table *ngIf="showTable === true" mat-table [dataSource]="activeTable['data']" class="mat-elevation-z8">
  <!-- Columns -->
  <ng-container *ngFor="let col_name of activeTable['columns']" matColumnDef="{{col_name}}">
      <th mat-header-cell *matHeaderCellDef>{{ col_name }}</th>
      <td mat-cell *matCellDef="let r"> {{ r[col_name] }} </td>
  </ng-container>
  <!-- Content -->
  <tr mat-header-row *matHeaderRowDef="activeTable['columns']"></tr>
  <tr mat-row class="node-result-row"
      *matRowDef="let row; columns: activeTable['columns'];">
  </tr>
</table>